* {
    text-align: center;
    background-color: darkorange;
    box-sizing: border-box;
    margin-top: 0%;
}
p {
    color: rgb(230, 230, 230);
    font-family: "Ubuntu", sans-serif;
}

.hard__stuff__title h1 {
    color: chartreuse;
    font-family: "Gotham", sans-serif;
    font-size: 10rem;
    padding-top: 0;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 1rem;
}

.action__plan__title {
    color: chartreuse;
    font-family: "Gotham", sans-serif;
    font-size: 10rem;
    padding-top: 0%;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 1rem;
}

.action__plan__description {
    margin-bottom: 2rem;
}

.barbie__ew {
    width: 25%;
    height: auto;
    padding-bottom: 1rem;
}

.danny__devito {
    width: 25%;
    height: auto;
    padding-bottom: 1rem;
}
